@import '../../css/colors.scss';

.trip-list{
    display: grid;
    // padding: 30px; 
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(290px, 290px));
    grid-gap: 40px;
    margin: 20px;
    background-color: $white;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    
}

