

// .trip-details {
//     padding: 15px 15px;
    
// }

.back {
    width: 70px;
}

.img-container {
    margin: 20px auto;
    width: 80%;
    .trip-img {
        width: 100%;
        object-fit: cover;
    }
}

.details-actions-container {
    width: 80%;
    margin: 0 auto;
    .info-container {
        width: 60%;
    } 
    .actions-container {
        
    }
}

// .map-container {
//     width: 80%;
//     height: 500px;
//     margin: 0 auto;
// }

