@import '../../css/colors.scss';
.range-slider {
  width: 270px;
  position: relative;
  margin: 25px 12px;
}

.input-range__track {
  background: $black;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $green;
  border: 1px solid $green;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 1rem;
}


.input-range__label.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
  left: 90%;
  color: $orange;
}
.input-range__label.input-range__label--min {
  bottom: -1.4rem;
  position: absolute;
  color: $orange;
}
.input-range__label {
  color: $black;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.9rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  white-space: nowrap;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
}

.input-range__track--active {
    background: $green;
}

