.trip-item-card {
    background-color: #f9f8f6;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 7px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 20px;
    height: 320px;
}
.trip-item-inner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70%;
}
.trip-title {
    margin: 5px;
    text-align: center;
}
.right-info-container {
    * {
        font-size: 1.5rem;
    }
}