.reviews-title {
    text-decoration: underline;
}
.place-url {
    color: blue;
    display: block;
    cursor: pointer;
}

.reviews-contianer {
    margin-top: 5px;
}

.place-url {
    margin: 5px 0;
}
.place-info {
    h3, .reviews-title {
        margin-bottom: 5px;
    }
}
.rating-stars {
    color: #dd8f10;
}