@import './Colors.scss'; 
* {
  box-sizing: border-box;
}

body {

  margin: 0;
  background-color: #F5F5F8;
  color: $black;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin:0;
}

h2,h3,h5,h6 {
  margin: 0;
  padding: 0;
}
h4 {
  margin: 5px 0;
  padding: 0;
}
input, select {
  padding: 10px;
  border-radius: 4px;
  border: 1.5px solid rgba(217, 228, 228, 0.85);
}

option {
  background-color: white;
  border: 1px solid gainsboro;
  padding: 2px;
  border-radius: 5px;
}








.btn {
  border-radius: 4px;
  background-color: antiquewhite;
  border: none;
  padding: 7px;

}



.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.main-container {
  max-width: 1000px;
  // border-right: 2px solid rgba(220, 220, 220, 0.425);
  // border-left: 2px solid rgba(220, 220, 220, 0.425);
  margin: 0 auto;
  // padding: 20px
}

.nav-container {
  // max-width: 70%;
  max-width: 350px;
  width: 200px
  // justify-content: space-between;
}

.far.fa-thumbs-up, .fas.fa-user-plus, .far.fa-edit, .far.fa-trash-alt {
  font-size: 1.5rem;
  padding:6px;
  cursor: pointer;
}
.far.fa-thumbs-up, .fas.fa-user-plus {
  padding: 6px 2.5px;
}
.far.fa-thumbs-up.no-user, .fas.fa-users {
  cursor: default;
}



.far.fa-plus-square, .far.fa-minus-square {
  font-size: 1.1rem;
  padding:6px;
  cursor: pointer;
}



.app-bg-img {
  background-image: url('../Assets/home-bg2.jpg');
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left:0;
  z-index: -1;
  opacity: 0.7;
}








