$white-trans-half:rgba(253, 252, 248, 0.8);
$white-trans:rgba(253, 252, 248, 0.5);
$white: rgb(250, 250, 249);
$black: #333527;
// $orange: rgb(208, 100, 0);
$orange: #dd8f10;
$green: #65a721;
$bg-white: #f7f6f4;
$green-trans: rgba(101, 167, 33, 0.6);