.gm-style-iw.gm-style-iw-c {
    max-width: 450px !important;
}

.gm-bundled-control
,.gm-style-mtc
,.gm-fullscreen-control{
    transform: scale(.8);
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    z-index: 0;
    bottom: 120px !important;
}

.gm-svpc {
    top: 32px !important;
}
 